<div class="container">

  <div class="heading" *ngIf="IsWelcome">
<h1>Welcome to the Quizz</h1>

  <button (click)="Start()">Start</button>
</div>

<div *ngIf="IsStart">
  <h2>Description about the exam <br> The exam time 20 min duration</h2>
  <button (click)="questions()">Start</button> &nbsp;&nbsp;
  <button (click)="Cancel()">Cancel</button>
</div>

<!--It will display all the question and answers if question().,Isquizz  is true-->
<div *ngIf="IsQuizz">
  <h1>{{question_and_answer[currentQuestionIndex].question}}</h1>
  
    
  <h3><input type="radio" name="selectedAnswer" [value]="question_and_answer[currentQuestionIndex].answers[0]" [(ngModel)]="selectedAnswer"> {{question_and_answer[currentQuestionIndex].answers[0]}}</h3>
  <h3><input type="radio" name="selectedAnswer" [value]="question_and_answer[currentQuestionIndex].answers[1]" [(ngModel)]="selectedAnswer">  {{question_and_answer[currentQuestionIndex].answers[1]}}</h3>
  <h3><input type="radio" name="selectedAnswer" [value]="question_and_answer[currentQuestionIndex].answers[2]" [(ngModel)]="selectedAnswer"> {{question_and_answer[currentQuestionIndex].answers[2]}}</h3>
  <h3><input type="radio" name="selectedAnswer" [value]="question_and_answer[currentQuestionIndex].answers[3]" [(ngModel)]="selectedAnswer"> {{question_and_answer[currentQuestionIndex].answers[3]}}</h3>
    
    <button (click)="Previous()">Previous</button> &nbsp;
  <button (click)="Next()">Next</button>
  </div>

<!-- This section displays the total score if the "IsSubmit" variable is true -->
<div *ngIf="IsSubmit">
  <h1>Your total score is: {{ score }}</h1>
</div>


</div>